*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    height: 100vh;
    border: 3px solid rgb(77, 194, 5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#app > div{
    border: 1px solid blue;
}

#app span{
    border: 1px solid red;
}
