*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    padding: 16px;
}



h1{
    text-align: center;
    padding: 24px;
    color: rgb(174	77	70);
}

nav {
    display: flex; /* Garante que os links fiquem em linha */
    justify-content: space-between; /* Distribui os links igualmente na largura */
}

nav a{
    text-decoration: none;
    color: rgb(49 112 125);
    width: 50%;
    text-align: center;
    padding: 16px;
    font-weight: 500;
    margin-bottom: 24px;
    transition: .5s;
}

nav a:hover{
    box-shadow: 0px 10px 5px rgba(49, 112, 125, 0.434);

}

nav a:hover{
    text-shadow: 0px 2px 5px rgba(0, 196, 235, 0.65);
}

main{
    text-align: justify;
}

main p{
    margin: 16px 0px;
}

footer{
    background-color: rgba(174, 77, 70, 0.484);
    padding: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.767);
    text-align: center;
    border-radius: 10px;
}

footer:hover{
    background-color: rgb(174, 77, 70);
    color: white;
    
}
