*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --brand-color-light:#60A5FA;
    --brand-color-dark:#1D4ED8;
    --bg-color:#0F172A;
    --stroke-color:#1E293B;
    --text-color-primary:#F1F5F;
    --text-color-secundary:#CBD5E1;

    --font-family: "Archivo", sans-serif;
    --h1: 800 24px/135% var(--font-family); /* Primeiro o peso, então o tamanho da fonte, altura (line height) e então qual fonte é (font family que a gente definiu primeiro. Neste caso é a Archivo)*/
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/160% var(--font-family);
    --text-small: 400 14px/160% var(--font-family);
    
}

body{
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font: var(--text);
}

h1,h2,h3{
    font: inherit;
}

/*Utility-first*/

.grid{
    display: grid;
}

.grid-flow-column{
    grid-auto-flow: column;
}