
#container{
    border: 1px solid red;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: flex-start;
    background-color: black;

}

.item{
    background-color: antiquewhite;
    padding: 24px 30px;
    border: 1px solid black;
    flex-flow: row wrap;
    margin: 20px;
}

div#i1{
    align-self: auto ;
}
div#i2{
    align-self: flex-start ;
}
div#i3{
    align-self: flex-end ;
}
div#i4{
    align-self: center ;
}
div#i5{
    align-self: stretch ;
}
